HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

!db/migration/
!db/migration/*.sql

# Environment/Sensitive files
.env
application-dev.properties
application-prod.properties
application.properties

### VS Code ###
.vscode/

*.sqlite
*.sqlite3
db.sqlite
db/
/data/



