:root {
  --dark-blue: hsl(239, 94, 19);
  --brilliant-blue: hsl(201, 100, 36);
  --pacific-cyan: hsl(190, 100, 42);
  ---non-photo-blue: hsl(189, 75, 75);
  --light-cyan: hsl(190, 77, 88);

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
